<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      >
<head>
    <meta charset="utf-8" />
    
<!--     th:text="${ }" -->
    
   
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Calibri' rel='stylesheet' type='text/css' />
   
 </head>
<body>

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                        <span class="icon-bar"></span>
                <a class="navbar-brand" href="#">napiSFJ.com</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <p>IP címed: <a href="#" class="navbar-link">127.0.0.1</a></p>
            </div>
        </div>
    </nav>

  
        <header>
            <h1>exceptionhandlersite.html</h1> 
            <h1 th:text="${exmessage}">Ez itt a cím</h1> 
            
        </header>
    
       

    <footer>
        <p >Készült az SFJ csapata megbízásából</p>
    </footer>
</div>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body></html>
