<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"      >
<head>
    <meta charset="utf-8" />
    
<!--     th:text="${ }" -->
    
    <title th:text="${error}">Napi SFJ</title>
    
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Calibri' rel='stylesheet' type='text/css' />
   
 </head>
<body>

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                        <span class="icon-bar"></span>
                <a class="navbar-brand" href="#">napiSFJ.com</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <p>IP címed: <a href="#" class="navbar-link">127.0.0.1</a></p>
            </div>
        </div>
    </nav>

    <article >
        <header>
            <h1 th:text="${status}">Ez itt a cím</h1> 
             <h1 th:text="${error}">Ez itt a cím</h1> 
            <p th:text="${#dates.format(timestamp,'yyyy-MM-dd HH:mm')}" >Posted on September 31, 2015 at 10:00 PM</p>
        </header>
    
        <section >
            <p th:text="${message}">Carl összeráncolta szemöldökét, és felnézett az égre. Bármennyire melyik térfélen hány gyerek szaladgált fel-alá.</p>
        </section>
        
        <footer>
            <address>
                Hibás url végződés, error attribútum path értéke: <h1><span th:text="${path}">Anonymous</span></h1>
            </address>
        </footer>
        <hr/>
 </article>

    <footer>
        <p >Készült az SFJ csapata megbízásából</p>
    </footer>
</div>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
</body></html>
